body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
	
}

.b1 {
	background: rgb(42, 161, 174);
	width: 120px;
	height: 75px;
}
.b2 {
	background: rgb(42, 161, 174);
	width: 120px;
	height: 75px;
	transition-duration: 0s;
}
.b2:hover {
	background-color: #175b19; /* Green */
  color: rgb(128, 128, 6);
}


ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}